html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic", sans-serif;
  color: #333333;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.green {
  color: #009999;
}

.margin-top-md {
  margin-top: 3.4rem !important;
}

.margin-top-sm {
  margin-top: 1rem;
}

.margin-left-lg {
  margin-left: 15.5rem !important;
}

.canvas {
  width: 65%;
  height: 1180px;
  margin: 15px auto;
  box-shadow: 0 0 24px 8px rgb(0, 0, 0, 0.1);
  padding: 3.4rem 5.2rem;
  border-radius: 8px;
}

.name {
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -0.3rem;
}

.designation {
  margin-top: -1.4rem;
  font-weight: 600;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 0.6rem;
}

.inner-heading {
  font-size: 1.5rem;
  margin-bottom: -0.3rem;
}

.general-line {
  font-size: 1.5rem;
}

.right {
  float: right;
}

.left {
  display: inline-block;
}

.projects {
  margin-left: 18rem;
}
