<section class="hero">
  <img
    class="hero-img"
    src="assets/img/hero-background.jpg"
    alt="Men clothing styles"
  />
  <div class="hero-text-box">
    <p class="hero-heading">Available at Kohl's</p>
    <p class="hero-description">Shop Ben Sherman Golf in-store and online</p>
    <a href="#" class="hero-cta btn">Shop golf</a>
  </div>
</section>

<section class="product-category section-margin">
  <h2 class="heading-primary margin-bottom-md">Shop by Category</h2>
  <div class="articles grid grid--3-cols">
    <div class="category-shirt">
      <img
        class="category-img"
        src="assets/img/shirt-category-img.jpg"
        alt="shirts displayed"
      />
      <div class="category-text">Shirts</div>
    </div>
    <div class="category-outerwear">
      <img
        class="category-img"
        src="assets/img/outerwear-category-img.jpg"
        alt="Outerwear displayed"
      />
      <div class="category-text">Outerwear</div>
    </div>
    <div class="category-knit">
      <img
        class="category-img"
        src="assets/img/polos-category-img.jpg"
        alt="knit polos displayed"
      />
      <div class="category-text">knit polos</div>
    </div>
  </div>
</section>
<section class="about-section section-margin">
  <img
    class="hero-img"
    src="assets/img/about-img.webp"
    alt="men wearing clothing"
  />
  <div class="hero-text-box about-text-box">
    <p class="about-text">About</p>
    <p class="heading-primary about-heading">ben sherman</p>
    <p class="hero-description">60 years of british style culture</p>
    <a href="#" class="hero-cta btn">discover the history</a>
  </div>
</section>
<section class="reg-section section-margin">
  <div class="reg-box easy-return">
    <ion-icon class="box-icon" name="cube-outline"></ion-icon>
    <p class="heading-secondary reg-heading">Easy Returns</p>
    <p class="reg-text">Our hassle-free returns are just a click away.</p>
  </div>
  <div class="reg-box">
    <ion-icon class="box-icon" name="card-outline"></ion-icon>
    <p class="heading-secondary reg-heading">Buy Now Pay Later</p>
    <p class="reg-text">
      Choose an interest-free payment plan with Afterpay or Klarna.
    </p>
  </div>
</section>
