html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic", sans-serif;
  color: #333333;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.green {
  color: #009999;
}

.margin-top-md {
  margin-top: 3.4rem !important;
}

.canvas {
  width: 65%;
  margin: 10px auto;
  box-shadow: 0 0 12px 2px rgb(0, 0, 0, 0.2);
  padding: 3.4rem 5.2rem;
  border-radius: 8px;
}

.name {
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 1.8rem;
}

.general-line {
  font-size: 1.5rem;
}
